  
*, *:before, *:after {
    max-height: 999999px;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #ffffff;
}



.header {
    vertical-align: top;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    height: auto;
    background: none;
    z-index: 9999;
    border-bottom: 3px solid #edf1f5;
}

.header .header__row {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    max-width: none;
}

.header__top_line {
    top: 0;
    background-color: #6a7a85;
    padding: 10px 20px;
    position: static;
}

.header__background {
    background:black;
    display: flex;

}

.menu_header {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px 10% 0 10%;
    align-items: center;
}

.menu__item {
    margin: 0 10% 0 10%;
    color:#ffffff;
    font-size:11px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:0.5px;
    text-decoration: none;
}

.menu__item:hover {

    text-decoration: none;
    border-bottom: 2px solid #9411D1;
    padding-bottom: 3px;
    width: 2px;
    transition: .3s ease;
}

.t__list {
    list-style-type: none;
    margin: 0;
    padding: 0!important;
    transition: opacity ease-in-out .2s;
}

.t__list_item {
    padding:0 15px 0 0;
    clear: both;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 16px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    color: #000;
    white-space: nowrap;
}


.menu__item--button {
    border-bottom: 0;
    clear: both;
}

.main_btn {
    text-transform: none;

    width: 120px;
    height: 34px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 15%;
    box-shadow: none;
    text-align: center;

    line-height: 22px;


    color: #ffffff;
    font-size: 14px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-width: 3px;
    border-radius: 4px;
    background-position: center center;
    border-color: #ffffff;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;



}

.head__conteiner {
    max-width: 1220px;
    margin: auto;
    width: 100%;
    padding: 0 10px;
    display: flex;
    /*justify-content: space-between; */
    align-items: center;

}

.header__phone {
    display: block;
}

.header__phone .header__phone-item {
    display: inline-block;
}

.top-phone-3 {
    padding-right: 0;
}

.py-0 {
    padding: 10px 10px;
}

.d-mobile {
    display: none;
    float: right;
}




.head__conteiner .phone {
   margin: 0 5px;
   color: #fff;
}

.d-mobile .phone {
    color: #1f1e36;
    display: block;
    text-align: right;
}

#body__background__animation {
    -webkit-text-size-adjust: 100%;
    font-family: Verdana, sans-serif;
    color: #303030;
    font-size: 15px;
    letter-spacing: .3px;
    line-height: 18px;
    box-sizing: border-box;
    width: 100%;
    height: 520px;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}

/********************
DETAILS
********************/
    .main_screen summary {
      display: inline-block;
      outline: none;
      cursor: pointer;
    }
    .main_screen summary::-webkit-details-marker {
      display: none;
    }
    .main_screen summary:after {
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0 0 0 .25em;
        border-style: solid;
        border-width: .25em .25em 0 .25em;
        border-color: #181940 transparent transparent transparent;
        vertical-align: middle;
        content: '';
    }
    .main_screen details[open] summary:after {
        border-width: 0 .25em .25em .25em;
        border-color: transparent transparent #181940 transparent;
    }



@media screen and (max-width: 992px) {
    .header__top_line {
        display: none;
    }

    .d-mobile {
        display: block;
    }

}

